#adminSpecificPoolForm {
  margin-top: 3em;
  margin-bottom: 4em;
  padding: 2em;
  border-radius: 10px;
  background-color: white;
}

#adminSpecificPoolForm button:first-child {
  margin-right: 1em;
}
