#poolQueryForm {
  margin-right: 4em;
}

#poolQueryForm #queryFormTop {
  display: flex;
}

#poolQueryForm #queryFormTop input {
  flex: 2;
}

#poolQueryForm #queryFormTop button {
  flex: 1;
}

#poolQueryForm .accordion .card-header {
  cursor: pointer;
}
