.singlePool {
  display: flex;
  margin-bottom: 4em;
}

.singlePool:last-child {
  margin-bottom: 0;
}

.singlePool img {
  margin-right: 3em;
}

.singlePool .singlePoolIcons svg {
  height: 1.3em;
  width: 1.3em;
  margin-right: 0.5em;
}

.singlePool .singlePoolDescription {
  margin-top: 2em;
  /* padding: 0; */
}
