#specificPoolPageContent {
  margin: 4em;
}

#specificPoolPageContent h2 {
  margin-bottom: 1em;
}

#specificPoolPageContent2 {
  width: 70%;
  margin: auto;
  padding: 4em 3em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#specificPoolPageContent2 div {
  display: flex;
}

#specificPoolPageContent2 div img {
  margin-right: 3em;
  max-width: 350px;
  flex: 1;
}

#specificPoolPageContent2 div ul {
  flex: 1;
}

#specificPoolPageContent2 div ul li {
  margin-bottom: 1em;
}

#specificPoolPageContent2 div ul li svg {
  margin-right: 0.5em;
}
